In [1]:
### Run this cell before continuing.
import altair as alt
import numpy as np
import pandas as pd
from sklearn import set_config
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV, cross_validate, train_test_split
from sklearn.neighbors import KNeighborsRegressor

# Simplify working with large datasets in Altair
alt.data_transformers.enable('vegafusion')

# Output dataframes instead of arrays
set_config(transform_output="pandas")

In [2]:
url = "https://drive.google.com/uc?export=download&id=1Mw9vW0hjTJwRWx0bDXiSpYsO3gKogaPz"
players = pd.read_csv(url)
players

,experience,subscribe,hashedEmail,played_hours,name,gender,age,individualId,organizationName
0,Pro,True,f6daba428a5e19a3d47574858c13550499be23603422e6...,30.3,Morgan,Male,9,NaN,NaN
1,Veteran,True,f3c813577c458ba0dfef80996f8f32c93b6e8af1fa9397...,3.8,Christian,Male,17,NaN,NaN
2,Veteran,False,b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3...,0.0,Blake,Male,17,NaN,NaN
3,Amateur,True,23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4f...,0.7,Flora,Female,21,NaN,NaN
4,Regular,True,7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb...,0.1,Kylie,Male,21,NaN,NaN
...,...,...,...,...,...,...,...,...,...
191,Amateur,True,b6e9e593b9ec51c5e335457341c324c34a2239531e1890...,0.0,Bailey,Female,17,NaN,NaN
192,Veteran,False,71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778...,0.3,Pascal,Male,22,NaN,NaN
193,Amateur,False,d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db29...,0.0,Dylan,Prefer not to say,17,NaN,NaN
194,Amateur,False,f19e136ddde68f365afc860c725ccff54307dedd13968e...,2.3,Harlow,Male,17,NaN,NaN
195,Pro,True,d9473710057f7d42f36570f0be83817a4eea614029ff90...,0.2,Ahmed,Other,91,NaN,NaN

In [7]:
url_2 = "https://drive.google.com/uc?export=download&id=14O91N5OlVkvdGxXNJUj5jIsV5RexhzbB"
sessions = pd.read_csv(url_2)
sessions

,hashedEmail,start_time,end_time,original_start_time,original_end_time
0,bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431...,30/06/2024 18:12,30/06/2024 18:24,1.719770e+12,1.719770e+12
1,36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f5...,17/06/2024 23:33,17/06/2024 23:46,1.718670e+12,1.718670e+12
2,f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3...,25/07/2024 17:34,25/07/2024 17:57,1.721930e+12,1.721930e+12
3,bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431...,25/07/2024 03:22,25/07/2024 03:58,1.721880e+12,1.721880e+12
4,36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f5...,25/05/2024 16:01,25/05/2024 16:12,1.716650e+12,1.716650e+12
...,...,...,...,...,...
1530,36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f5...,10/05/2024 23:01,10/05/2024 23:07,1.715380e+12,1.715380e+12
1531,7a4686586d290c67179275c7c3dfb4ea02f4d317d9ee0e...,01/07/2024 04:08,01/07/2024 04:19,1.719810e+12,1.719810e+12
1532,fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33...,28/07/2024 15:36,28/07/2024 15:57,1.722180e+12,1.722180e+12
1533,fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33...,25/07/2024 06:15,25/07/2024 06:22,1.721890e+12,1.721890e+12
1534,36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f5...,20/05/2024 02:26,20/05/2024 02:45,1.716170e+12,1.716170e+12

In [3]:
players_filtered = players[["age", "played_hours", "experience", "hashedEmail"]]
players_filtered

,age,played_hours,experience,hashedEmail
0,9,30.3,Pro,f6daba428a5e19a3d47574858c13550499be23603422e6...
1,17,3.8,Veteran,f3c813577c458ba0dfef80996f8f32c93b6e8af1fa9397...
2,17,0.0,Veteran,b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3...
3,21,0.7,Amateur,23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4f...
4,21,0.1,Regular,7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb...
...,...,...,...,...
191,17,0.0,Amateur,b6e9e593b9ec51c5e335457341c324c34a2239531e1890...
192,22,0.3,Veteran,71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778...
193,17,0.0,Amateur,d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db29...
194,17,2.3,Amateur,f19e136ddde68f365afc860c725ccff54307dedd13968e...
195,91,0.2,Pro,d9473710057f7d42f36570f0be83817a4eea614029ff90...

In [9]:
session_players = sessions.merge(players_filtered, on = "hashedEmail")
session_players = session_players.replace("start_time", pd.to_datetime(session_players["start_time"], dayfirst = True))
session_players = session_players.replace("end_time", pd.to_datetime(session_players["end_time"], dayfirst = True))
session_players["end]
#session_players = session_players.assign(duration = session_players["end_time"]-session_players["start_time"])
session_players

,hashedEmail,start_time,end_time,original_start_time,original_end_time,age,played_hours,experience
0,bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431...,30/06/2024 18:12,30/06/2024 18:24,1.719770e+12,1.719770e+12,17,223.1,Regular
1,36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f5...,17/06/2024 23:33,17/06/2024 23:46,1.718670e+12,1.718670e+12,17,53.9,Amateur
2,f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3...,25/07/2024 17:34,25/07/2024 17:57,1.721930e+12,1.721930e+12,16,150.0,Amateur
3,bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431...,25/07/2024 03:22,25/07/2024 03:58,1.721880e+12,1.721880e+12,17,223.1,Regular
4,36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f5...,25/05/2024 16:01,25/05/2024 16:12,1.716650e+12,1.716650e+12,17,53.9,Amateur
...,...,...,...,...,...,...,...,...
1530,36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f5...,10/05/2024 23:01,10/05/2024 23:07,1.715380e+12,1.715380e+12,17,53.9,Amateur
1531,7a4686586d290c67179275c7c3dfb4ea02f4d317d9ee0e...,01/07/2024 04:08,01/07/2024 04:19,1.719810e+12,1.719810e+12,23,1.6,Veteran
1532,fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33...,28/07/2024 15:36,28/07/2024 15:57,1.722180e+12,1.722180e+12,23,56.1,Amateur
1533,fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33...,25/07/2024 06:15,25/07/2024 06:22,1.721890e+12,1.721890e+12,23,56.1,Amateur
1534,36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f5...,20/05/2024 02:26,20/05/2024 02:45,1.716170e+12,1.716170e+12,17,53.9,Amateur

In [ ]:
experience_map = {
    "Amateur": 1,
    "Beginner": 2,
    "Regular": 3,
    "Pro": 4,
    "Veteran": 5
}

players_filtered = players_filtered.assign(
    experience_num = players_filtered['experience'].map(experience_map)
)

players_filtered

In [ ]:
players_filtered = players_filtered.assign(
    playtime_grouped=pd.cut(
        players_filtered["played_hours"],
        bins=[0, 1, 5, 10, 15, 20, 50, 100, 200, 223.1], 
        labels=["<1", "1–5", "5–10", "10–15", "15-20", "20–50", "50–100", "100-200", "200>"]
    )
)

players_plot = alt.Chart(players_filtered, title = "Playtime in Hours: Player age and Experience Level").mark_circle(size=40).encode(
    x=alt.X("age:Q").title("Age (years)"),
    y=alt.Y("experience_num:O", 
            title = "Experience (numbered low to high)",
            scale=alt.Scale(reverse=True)
), color=alt.Color("playtime_grouped:N", sort = ["<1", "1–5", "5–10", "10–15", "15-20", "20–50", "50–100", "100-200", "200>"]).scale(scheme="paired").title("Playtime (hours, grouped)")
).properties(width=850, height=200)
players_plot

In [ ]:
#split filtered data into training and testing with 70/30 split using random_state = 2000
training_data, testing_data = train_test_split(
    players_filtered, test_size = 0.3, random_state = 2000
)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline


# Standardize age and experience_num 
players_preprocessor = make_column_transformer(
    (StandardScaler(), ["age", "experience_num"]),
    remainder="drop"
)

players_pipeline = make_pipeline(
    players_preprocessor,
    KNeighborsRegressor()
)

In [ ]:
# GRID SEARCH (1–75 neighbors, step = 3) with 5-fold CV

param_grid = {
    "kneighborsregressor__n_neighbors": range(1, 76, 3)
}

players_gridsearch = GridSearchCV(
    estimator=players_pipeline,
    param_grid=param_grid,
    cv=5,
    scoring="neg_root_mean_squared_error",
    return_train_score=False
)
print(players_gridsearch)
# Fit on training data

players_gridsearch.fit(
    training_data[["age", "experience_num"]],   
    training_data["played_hours"]              
)
print(players_gridsearch)

In [ ]:
# Gather CV results 

cv_results = pd.DataFrame(players_gridsearch.cv_results_)

cv_results["sem_test_score"] = cv_results["std_test_score"] / (5**0.5)

cv_results = (
    cv_results[
        ["param_kneighborsregressor__n_neighbors",
         "mean_test_score",
         "sem_test_score"]
    ]
    .rename(columns={
        "param_kneighborsregressor__n_neighbors": "n_neighbors"
    })
)

cv_results["mean_test_score"] = -cv_results["mean_test_score"]

cv_results

In [ ]:
players_gridsearch.best_params_

In [ ]:
# Make prediction
testing_data["predicted"] = players_gridsearch.predict(
    testing_data[["age", "experience_num"]]
)

# Compute RMSPE
RMSPE = mean_squared_error(
    y_true=testing_data["played_hours"],
    y_pred=testing_data["predicted"]
)**0.5

RMSPE

In [ ]:
#linear regression
X_train = training_data[["age", "experience_num"]]
y_train = training_data["played_hours"]
X_test = testing_data[["age", "experience_num"]]
y_test = testing_data["played_hours"]

lm = LinearRegression()
players_train_fit = lm.fit(X_train, y_train)
print(players_train_fit.coef_)
print(players_train_fit.intercept_)

In [ ]:
#finding rmse
train_predictions = players_train_fit.predict(X_train)
lm_rmse = mean_squared_error(train_predictions, y_train)**0.5
print(lm_rmse)

In [ ]:
#finding rmspe
test_predictions = players_train_fit.predict(X_test)
lm_rmspe = mean_squared_error(test_predictions, y_test)**0.5
print(lm_rmspe)

The RMSPE for the linear regression is lower than that of the KNN regression, making it a better option as a model.

**Option A: Doing a multivairable linear regression**

In [ ]:
# from sklearn import linear_model

# mvr_X = players_filtered[["age", "experience_num"]]
# mvr_y = players_filtered["played_hours"]

# mvr_reg = linear_model.LinearRegression()
# mvr_reg.fit(mvr_X, mvr_y)

In [ ]:
# Finding the coefficient: a factor that describes the relationship with an unknown variable.
# print(mvr_reg.coef_)

The coefficient value for:
* "age": -0.14368895
* "experience": -0.81510904

**Option B: Doing a pairplot linear regression**

In [ ]:
#comparing the RMSE of "age" and "experience_num" by dropping one of each then running calculations
#Keep "age"
X_train = training_data[["age"]]
y_train = training_data["played_hours"]
X_test = testing_data[["age"]]
y_test = testing_data["played_hours"]

lm = LinearRegression()
players_train_fit = lm.fit(X_train, y_train)
print(players_train_fit.coef_)
print(players_train_fit.intercept_)

In [ ]:
#finding rmse - "age" (?)
train_predictions = players_train_fit.predict(X_train)
lm_rmse = mean_squared_error(train_predictions, y_train)**0.5
print(lm_rmse)

In [ ]:
#finding rmspe - "age" 
test_predictions = players_train_fit.predict(X_test)
lm_rmspe = mean_squared_error(test_predictions, y_test)**0.5
print(lm_rmspe)

In [ ]:
age_prediction_grid = players_filtered[["age"]].agg(["min", "max"])
age_prediction_grid["predicted"] = lm.predict(age_prediction_grid)

age_scatter = alt.Chart(players_filtered).mark_point().encode(
    x=alt.X("age").scale(zero=False).title("Age"),
    y=alt.Y("played_hours").title("Playtime (hours)")
)

age_plot = age_scatter + alt.Chart(age_prediction_grid).mark_line(color="black").encode(
    x="age",
    y="predicted"
)
age_plot

In [ ]:
players_filtered_age = players_filtered[players_filtered["played_hours"] <= 50]
players_filtered_age

age_prediction_grid = players_filtered[["age"]].agg(["min", "max"])
age_prediction_grid["predicted"] = lm.predict(age_prediction_grid)

age_scatter = alt.Chart(players_filtered_age).mark_point().encode(
    x=alt.X("age").title("Age").scale(zero=False),
    y=alt.Y("played_hours").title("Playtime (hours)").scale(zero=False)
)

age_plot = age_scatter + alt.Chart(age_prediction_grid).mark_line(color="black").encode(
    x="age",
    y="predicted"
)
age_plot

In [ ]:
#Keep "experience_num"
X_train = training_data[["experience_num"]]
y_train = training_data["played_hours"]
X_test = testing_data[["experience_num"]]
y_test = testing_data["played_hours"]

lm = LinearRegression()
players_train_fit = lm.fit(X_train, y_train)
print(players_train_fit.coef_)
print(players_train_fit.intercept_)

In [ ]:
#finding rmse - "experience_num" (?)
train_predictions = players_train_fit.predict(X_train)
lm_rmse = mean_squared_error(train_predictions, y_train)**0.5
print(lm_rmse)

In [ ]:
#finding rmspe - "experience_num"
test_predictions = players_train_fit.predict(X_test)
lm_rmspe = mean_squared_error(test_predictions, y_test)**0.5
print(lm_rmspe)

In [ ]:
experience_prediction_grid = players_filtered[["experience_num"]].agg(["min", "max"])
experience_prediction_grid["predicted"] = lm.predict(experience_prediction_grid)

experience_scatter = alt.Chart(players_filtered).mark_point().encode(
    x=alt.X("experience_num:O").scale(zero=False).title("Experience"),
    y=alt.Y("played_hours").title("Playtime (hours)")
).properties(width=500, height=200)

experience_plot = experience_scatter + alt.Chart(experience_prediction_grid).mark_line(color="black").encode(
    x="experience_num:O",
    y="predicted"
)
experience_plot

In [ ]:
players_filtered_exp = players_filtered[players_filtered["played_hours"] <= 5]
players_filtered_exp

experience_prediction_grid = players_filtered[["experience_num"]].agg(["min", "max"])
experience_prediction_grid["predicted"] = lm.predict(experience_prediction_grid)

experience_scatter = alt.Chart(players_filtered_exp).mark_point().encode(
    x=alt.X("experience_num:O").scale(zero=False).title("Experience"),
    y=alt.Y("played_hours").title("Playtime (hours)")
).properties(width=500, height=500)

experience_plot = experience_scatter + alt.Chart(experience_prediction_grid).mark_line(color="black").encode(
    x="experience_num:O",
    y="predicted"
)
experience_plot

**Pairplot**

In [ ]:
import altair as alt

columns = ["age", "played_hours", "experience_num"]  # pick your numeric columns

pair_plot = alt.Chart(players_filtered).mark_point().encode(
    alt.X(alt.repeat("column"), type="quantitative"),
    alt.Y(alt.repeat("row"), type="quantitative")
).properties(
    width=250,
    height=200
).repeat(
    row=columns,
    column=columns
)

pair_plot